@import "tailwindcss";

@theme {
  --color-mint: #a4fbdb;

  --color-preferred: #3b82f6;
  --color-general: #a78bfa;
  --color-oh-shift: #22c55e;
  --color-lab-shift: #f97316;
  --color-other-shift: #94a3b8;
}
