@import "tailwindcss";

@theme {
  --color-mint: #a4fbdb;
  
  
  /* they added below colors */
  --color-preferred: #3b82f6; /* some kinda blue */
  --color-general: #a78bfa; /* some kinda purple */

  /* figma colors */
  --color-oh-shift: #ff486d;
  --color-lab-shift: #2596be;
  --color-other-shift: #ffb310;
}
