@import "tailwindcss";

@theme {
  --color-mint: #a4fbdb;
  
  
  /* they added below colors */
  --color-preferred: #3b82f6; /* some kinda blue */
  --color-general: #a78bfa; /* some kinda purple */

  /* figma colors */
  --color-shift-pink: #ff476d;
  --color-shift-pink-light: #ffc2d1;
  --color-shift-yellow: #FFAE00;
  --color-shift-yellow-light: #ffecb3;
  --color-shift-blue: #5aaaec;
  --color-shift-green: #0dd18a;
  --color-shift-blue-light: #bddfff;
}
